!data/nasdaq_schedule.csv
!data/earnings.csv
!data/cpi.csv
/training/baseline.py
/training/overfit.py
/lightning_logs
/garch
/optuna_test
/studies
/transformer.py
**/__pycache__
**/.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
