fastapi==0.101.0
joblib==1.2.0
joblib==1.1.1
lightning==2.0.2
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
pydantic==1.10.7
pydantic==1.10.8
pytorch_forecasting==0.19.2
Requests==2.31.0
torch==2.1.0.dev20230414
uvicorn==0.23.2
yfinance==0.2.22
